body {
    background-color: #eaedf0;
}



.card-title {
    font-weight: bold;
}

.footer {
    border-top: 1px solid #dee2e6;
}


.calendar-square {
    width: 20px;
    height: 20px;
    margin: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.green {
    background-color: #2ecc71; /* зелёный */
}

.white {
    background-color: #ffffff; /* белый */
}
