{% extends "base.html" %}
{% load static %}

{% block main %}
<div class=></div>
<div class="calendar-square white"></div>

    <h1>{{curent_film.name}}</h1>
    

        <div id="container_for_square">

        </div>

<script>
    var socket = new WebSocket('ws://localhost:8000/ws/kinozal/')

    socket.onmessage = function(event){
    

        var data = JSON.parse(event.data);  
        count = data.message
        var container = document.getElementById('container_for_square');

        for ( var i = 0; i < count; i++){
            var green = document.createElement('div')
            green.className = "calendar-square green"
            container.appendChild(green)
        }
    }
    
</script>

{% endblock main %}